body {
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #fff;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Inter, sans-serif;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.list {
    flex: 5;
}

.list .list-links {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.list-links li a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.list-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #555;
    transition: width 0.3s ease-in-out;
}

.list-links li a:hover {
    color: #555;
}

.list-links li a:hover::after {
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 5;
    margin-left: 2.5%;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 8px 15px;
    height: 33px;
    width: 70%;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}

.search-box button {
    border: none;
    background: transparent;
    color: #777;
    cursor: pointer;
}

.icons {
    cursor: pointer;
    display: flex;
    gap: 25px;
    flex: 2.5;
    justify-content: center;
    align-items: center;
}
.icons img {
  transition: transform 0.3s ease;
}

.icons img:hover {
  transform: scale(1.2);
}


.icons a {
    cursor: pointer;
    color: #555;
    font-size: 15px;
    transition: color 0.3s;
}

.icons a:hover {
    color: #6c63ff;
}

.one {
    height: 18px;
    width: auto;
}
.two {
    height: 26px;
    width: auto;
}
.three {
    height: 22px;
    width: auto;
}
@media (max-width: 850px){
    .list{
        display: none;
    }
    .search-box{
        width: 40%;
    }
    .icons{
        display: none;
    }
}
/*-------------------------------------------*/
.section1{
    height: 564px;
    font-family: Inter, sans-serif;
    margin-bottom: 0px;
}
.back{
    background: radial-gradient(circle,#8C94B1   0%,#434860   50%, #191B24 100%);
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;

}
.text{
    flex:1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.image{

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: end;

}
.btn {
    display: inline-block;
    padding: 12px 30px;
    color: #d0d2d8;
    border: 1px solid #d0d2d8;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #d0d2d8;
    color: #1a1c21;
}
.text1 {
    font-size: 25px;
    color: #d9dbe0;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
}
.text2 {
    color: #d9dbe0;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
    text-shadow: 1px 1px 3px #494f67;    
    animation: fadeIn 1.5s ease infinite alternate;
}
@keyframes fadeIn {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
.text2 strong {
    font-weight: 700;
}
.text3 {
    font-size: 18px;
    color: #d9dbe0;
    margin: 15px 0 30px 0;
    line-height: 1.5;
}
.text-in{
    margin-left: 100px;
}
@media (max-width: 768px){
    .section1{
    height: 1000px;
}
    .back{
        display: flex;
        flex-direction: column;
    }
    .text{
        flex:1 ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }
    .text-in{
    margin-left: 0px;
    text-align: center;
    }
    .image{
        height: auto;
        display: flex;
        flex: 1;

    }
}
/*--------------------------------------------*/
.section2{
    display: grid; 
    grid-template-columns:1fr ,1fr ,1fr,1fr;
    grid-template-rows:360px 240px;
    grid-template-areas:
    "p p m m"
    "a v m m";
    margin-top: 5px;
    font-family: Inter, sans-serif;    
    
}
.mac{
    position: relative;
    grid-area:m ;
    background: radial-gradient(circle at center right , #efefef, #ededed, #d5d5d5) ;   
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15px;
    margin-left: 5px;
    border-bottom-right-radius: 20px;
}


.mac img{
    height: 510px;
    width:auto;
}

.mac-text {    
    position: absolute;
    top: 180px;
    right: 280px; 

}
.mac-text h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;
    line-height: 1.2;
}
.mac-text h1 strong {
    font-weight: 500;
}
.mac-text p {
    font-size: 15px;
    color: #909090;
    line-height: 1.5;
}
.macbtn{
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 12px 30px;

}
.macbtn:hover {
    background-color: #000000;
    color: #d5d5d5;
}

.ps{
    position: relative;
    grid-area:p; 
    margin-left: 15px; 
    display: flex; 
    align-items: end;
    margin-bottom: 5px;

    background: radial-gradient(circle at center left , #eaeaea, #b7b7b7, #8e8e8e) ;         
}
.ps-text{
    position: absolute;
    bottom: 90px;
    left: 350px;
}
.ps-text h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;
    line-height: 1.2;
}
.ps-text h1 strong {
    font-weight: 500;
}
.ps-text p {
    font-size: 15px;
    color: #727272;
    line-height: 1.5;
}
.psbtn{
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 12px 30px;

}
.psbtn:hover {
    background-color: #000000;
    color: #b7b7b7;
}
.air{
    position: relative;
    grid-area:a;
    margin-left: 15px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    background: radial-gradient(circle at center left , #efefef, #ededed, #d5d5d5) ;      
}
.air img{
    height: 230px;
    width: auto;
}
.air-text{
    position: absolute;
    bottom: 40px;
    left: 130px;
}
.air-text h1 {
    font-size: 29px;
    font-weight:150;
    margin: 0;
    line-height: 1.2;
}
.air-text h1 strong {
    font-weight: 500;
}
.air-text p {
    font-size: 13px;
    color: #909090;
    line-height: 1.4;
}
.airbtn{
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 8px 20px;
    bottom: 5px;

}
.airbtn:hover {
    background-color: #000000;
    color: #d5d5d5;
}


.vis{
    position: relative;
    display: flex;
    grid-area:v;
    align-items: center;
    background:#353535 ;
    background: radial-gradient(circle at center left , #5d5d5d, #494949, #353535) ;     
    
   
}
.vis-text{
    color: #d5d5d5;
    position: absolute;
    bottom: 40px;
    left: 160px;
}
.vis-text h1 {
    font-size: 29px;
    font-weight:150;
    margin: 0;
    line-height: 1.2;
}
.vis-text h1 strong {
    font-weight: 500;
}
.vis-text p {
    font-size: 13px;
    color: #909090;
    line-height: 1.4;
}
.visbtn{
    color: #d5d5d5;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 8px 20px;
    bottom: 5px;

}
.visbtn:hover {
    background-color: #000000;
    color: #b7b7b7;
    border: 1px solid  #000000;
}
/*------------------------------------------*/
.section3{
    font-family: Inter, sans-serif;
    margin-top: 100px;
}
.category-section {
    max-width: 1100px;
    height: 352px;
    margin: 40px auto;
    padding: 20px;
}
.category-section h2 {
    font-size: 20px;
    margin-bottom: 35px;
    padding-left: 40px;
    color: #222;
}
.category {
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.categories {
    display: flex;
    gap: 20px;
    flex:1;
    justify-content:center;
}
.category-card {
    width: 14.5%;
    height: 128px;
    background: #EDEDED;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s, transform 0.3s;
    margin-bottom: 15px;
    text-decoration: none;
}
.category-card:hover {
    background: #eaeaea;
    transform: translateY(-5px);
}
.category-card img {
    width: 44px;
    margin-bottom: 10px;
}
.category-card span {
    font-size: 15px;
    color: #333;
}
/*----------------------------*/
.section4{
    height:1400px ;
    font-family: Inter, sans-serif;
}
.product{
    display: flex;
    align-items: center;
    justify-content:center;
      

}
.products{
    display: grid; 
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:432px 432px 432px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l";
    height: 1400px;      
}
.product-card1{
    grid-area:a ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;  
    margin-right: 10px;
     margin-bottom: 10px;
}
.product-card2{
    grid-area:b ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px; 
    margin-right: 10px; 
    margin-bottom: 10px;       
}
.product-card3{
    grid-area:c;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px; 
    margin-right: 10px;
    margin-bottom: 10px;        
}
.product-card4{
    grid-area: d;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-bottom: 10px;      
}
.product-card1,
.product-card2,
.product-card3,
.product-card4,
.product-card5,
.product-card6,
.product-card7,
.product-card8 {
    display: flex;
    flex-direction: column;
}
.card41{
    flex:1 ;
    display:flex;
    align-items: center;
    justify-content: end;
}
.card41 img{
    width:32px ;
    height:auto ;
    margin-right: 10px;
}
.card42{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.card42 img{
    width: auto; 
    height:170px ;   
}
.card43{
    flex:1 ;
    display: flex;
    justify-content: center;
    align-items:end; 
    font-weight: 300;
    font-style: Medium;
    text-align: center;
    padding-top: 20px;

}
.card44{
    flex:0.5 ;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-bottom: 20px;
       

}
.card45{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items:flex-start;     

}

.product-card5{
    grid-area:e ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:10px ;
    margin-right:10px ;         
}
.product-card6{
    grid-area: f;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:10px ;
    margin-right:10px ;             
}
.product-card7{
    grid-area:g ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px; 
    margin-top:10px ;
    margin-right:10px ;            
}
.product-card8{
    grid-area:h ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:10px;
            
}
.product-card9{
    grid-area:i ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:20px ;
            
}
.product-card10{
    grid-area:j ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:20px ;
            
}
.product-card11{
    grid-area:k ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:20px ;
            
}
.product-card12{
    grid-area:l ;
    width: 268px;
    height: 432px;
    background: #EDEDED;
    border-radius: 12px;
    margin-top:20px ;
            
}
.btnp{
    color: #EDEDED;
    border: 1px solid #000000;
    background-color: #000000;    
    border-radius: 8px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 11px 50px;    
}
.btnp:hover {
    background-color: #EDEDED;
    color: #000000;
    border: 1px solid  #000000;
}


/*-------------------------------------*/
.section6{  
    font-family: Inter, sans-serif;
    margin-top: 0px;
    margin-bottom: 200px;

}
.productt{
    display: grid; 
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:432px;
    grid-template-areas:
    "a b c d";     
}
.section7-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section7-in img{
    width:100% ;
    height:auto ;
}
/*----------------------------------------------------*/
footer { 
    background: #000; 
    padding: 40px 20px;
    font-family: Inter, sans-serif; 
    height: 500px;
}

.footers{
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-col {       
    flex: 1 1 250px;
}
.footer-col h3, .footer-brand h2 { 
    color: #fff; 
    margin-bottom: 15px; 
}
.footer-brand p {
    font-size: 14px; 
    line-height: 1.6; 
}
.footer-col ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
.footer-col ul li { 
    margin-bottom: 15px; 
}
.footer-col ul li a { 
    color: #aaa; 
    text-decoration: none; 
    font-size: 14px; 
}
.footer-col ul li a:hover { 
    color: #fff; 
}
.fimg { 
    display: flex; 
    gap: 15px; 
    margin-top: 20px; 
}


.copyright {
    border-top: 1px solid #222;
    margin-top: 150px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #777;
}
.footer-col p{
    color: #aaa;
}
/*----------------------------------*/
.color{
    font-family: "Audiowide", sans-serif;    
}
.color-in1{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    background: linear-gradient(180deg, rgba(53, 53, 53, 1) 0%, rgba(93, 93, 93, 1) 20%, rgba(134, 134, 134, 1) 40%, rgba(174, 174, 174, 1) 60%, rgba(249, 249, 249, 1) 100%);
}
.color-in1 h1{
    margin-top: 140px;
    font-size: 370px;
    font-weight: 900;
}

.color-in2{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: -550px;
    margin-bottom: 300px;
}
.color-in3{
    position: relative;
}
.color-in3 h1{
    position: absolute;
    left: 580px;
    bottom:580px ;
    font-size: 40px;
    color: #DE7F45;
    /*background: #CBCBCB;
    background: linear-gradient(90deg, rgba(203, 203, 203, 1) 0%, rgba(222, 127, 69, 1) 18%, rgba(36, 42, 58, 1) 90%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;*/  
 
}
/*---------------------------------*/
.section55{
    height:1200px;
    

}
.section55in{
    display: flex;
    flex-direction: column;
    height:800px;

}
.section55img img{
    width: 500px;
    height: auto;
    margin-top: -700px;
}
.section55img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.section55text{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;

}
.section55text h1{
    font-family: "Audiowide", sans-serif;
    font-size: 400px;
    font-weight: 900;
    background: #5C92E0;
    background: linear-gradient(180deg, rgba(92, 146, 224, 1) 28%, rgba(249, 249, 249, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnimac{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imacbtn{
    color: #5C92E0;
    border: 1px solid #5C92E0;
    background-color: #f9f9f9;    
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 12px 40px;
    margin-top: -180px;
    font-family: Inter, sans-serif;
    margin-left: 20px;
    
}
.imacbtn:hover {
    background-color: #5C92E0;
    color: #f9f9f9;
    border: 1px solid  #5C92E0;
}





